.vertical-menu {
    background-color: #ffffff;
    height: inherit;
}
.vertical-menu-item {
    padding: 10px 0px 10px 20px;
    font-family: Helvetica;
    font-size: 15px;
    border-bottom: #e6e6e6 solid 1px;
}
.vertical-menu-item-selected {
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: #3e3e3e solid 3px;
}
.menu-item {
    padding: 10px 10px;
    margin: 0px 5px;
    font-family: Helvetica;
    font-size: 15px;
}
.menu-item:hover {
    border-bottom: #3e3e3e solid 3px;
}
.header a {
    color: #3e3e3e;
}
.header a:hover, .header a:focus {
    text-decoration: none;
}
#slider a {
    color: #3e3e3e;
}
#slider a:hover, #slider a:focus {
    text-decoration: none;
}

.menu-item-selected {
    border-bottom: #3e3e3e solid 3px;
}
* {
      box-sizing: content-box;
}
.name-text {
    font-weight: bolder;
    font-size: 16px;
    font-family: Helvetica;
    text-align: center;
}
.header {
    border-top: #3e3e3e solid 2px;
    border-bottom: #cccccc solid 1px;
}
.menu-puller {
    font-size: 20px;
    position: fixed;
    top: 8px;
    margin-left: 12px;
}
